.tryout-title-container {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #daa520;
  margin: 20px 0;
  padding-top: 10px;
}

.tryout-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
}

.tryout-card {
  background-color: #d848c0;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  min-height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tryout-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  max-width: 180px;
  min-height: 100px;
}

.tryout-button {
  background-color: #4c39b5;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  margin-top: auto;
}

.tryout-button:hover {
  background-color: #ffffff;
  color: #4c39b5;
}

.create-tryout-button {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4c39b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-tryout-button:hover {
  background-color: #d848c0;
}
